
services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgis/postgis:15-3.3
    platform: linux/amd64
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=spazaafy
      - POSTGRES_USER=spazaafy
      - POSTGRES_PASSWORD=spazaafy
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U spazaafy -d spazaafy"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  pgdata: