Django>=5.0,<6.0
djangorestframework>=3.15
djangorestframework-simplejwt>=5.3
drf-spectacular>=0.27
django-cors-headers>=4.3
python-dotenv>=1.0
psycopg2-binary>=2.9
Pillow>=10.3

drf-nested-routers

django-filter
googlemaps

dj-database-url


gunicorn
whitenoise

django-storages[boto3]
boto3

django-anymail==11.1

google-auth
requests